#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#

bsxf47 <bsxf47@gmail.com>
Daniel Scharrer <daniel@constexpr.org> <dscharrer@gmail.com>
Lubosz Sarnecki <lubosz@gmail.com>
Nuky <tehnuky@gmail.com> <TehNuky@gmail.com>
Nuky <tehnuky@gmail.com> <TehNuky@gmail.com@20e9cde2-dfe0-51a5-a0d6-7922eccdece5>
Nuky <tehnuky@gmail.com> <(no author)@20e9cde2-dfe0-51a5-a0d6-7922eccdece5>
Sebastien Lussier <sebastien.lussier@hotmail.com> <bobjelly2002@hotmail.com>
Sebastien Lussier <sebastien.lussier@hotmail.com> <bobjelly@bobjelly-VirtualBox.(none)>
Sebastien Lussier <sebastien.lussier@hotmail.com> <sebastien.lussier@videotron.ca>
Sebastien Lussier <sebastien.lussier@hotmail.com> <Sebastien@.(none)>
