[Desktop Entry]
Name=Arx Libertatis
GenericName=First-Person Role-Playing Game
GenericName[de]=3D-Rollenspiel
GenericName[fr]=Jeu de rôle à la première personne
GenericName[ru]=Ролевая игра от первого лица
GenericName[it]=Gioco di ruolo in prima persona
GenericName[es]=Juego de rol en primera persona
Comment=Cross-platform port of Arx Fatalis, a first-person role-playing game
Comment[de]=Plattformübergreifende Version von Arx Fatalis, ein 3D-Rollenspiel
Comment[fr]=Version multi-plateforme d'Arx Fatalis, un jeu de rôle à la première personne
Comment[ru]=Кроссплатформенная версия ролевой игры от первого лица Arx Fatalis
Comment[it]=Versione multipiattaforma di Arx Fatalis, un gioco di ruolo in prima persona
Comment[es]=Versión multiplataforma de Arx Fatalis, un juego de rol en primera persona
Exec=arx
Icon=arx-libertatis
Terminal=false
Type=Application
Categories=Game;RolePlaying;
Keywords=Fatalis;
