[Desktop Entry]
Name=Arx Libertatis
GenericName=First-Person Role-Playing Game
GenericName[de]=3D-Rollenspiel
Comment=Cross-platform port of Arx Fatalis, a first-person role-playing game
Comment[de]=Plattformübergreifende Version von Arx Fatalis, ein 3D-Rollenspiel
Exec=arx
Icon=arx-libertatis
Terminal=false
Type=Application
Categories=Game;RolePlaying;
Keywords=Fatalis;
